@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&display=swap');

body {
    text-decoration: none;
    margin: 0;
    background-color: black;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/dark-paths.png');
    background-repeat: repeat;
    color: rgb(255, 217, 146);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#login-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(218, 238, 255, 0.445);
}

.login {
    margin: 5px;
    /* padding: 5px; */
    border-color:rgb(255, 217, 146); 
}

#login-button {
    text-align: center;
    border: 1px solid;
    margin: 5px;
}