@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&display=swap');

body {
    text-decoration: none;
    margin: 0;
    background-color: black;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/dark-paths.png');
    background-repeat: repeat;
    color: rgb(255, 217, 146);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#login-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signup-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signupField {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#inputField {
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    background-color: transparent;
    color:rgb(255, 217, 146);
    width: 300px;
}

#splash-button {
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    background-color: transparent;
    color:rgb(255, 217, 146);
}

#splash-button:active {
    background-color: rgb(253, 117, 68);
    color: rgb(0, 38, 88);
}

#splash-button:hover {
    background-color: aliceblue;
    color: rgb(253, 117, 68);
}